<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capital Market Indicator/Indicators</title>
    <link href="/static/indicators.css" rel="stylesheet">
</head>
<body>

    <div class="nav-buttons">
        <a href="/templates/markets.html" class="nav-button" id="back-button">Back</a>
        <a href="/templates/index.html" class="nav-button" id="home-button">Home</a>
    </div>

    <div class="content">
        <h1 class="heading">Indicators</h1>
        <p class="caption">Choose what kind of analysis you need</p>

        <div class="box-container">
            <a href="ema.html" class="box">EMA Analysis</a>
            <a href="ict.html" class="box">ICT Analysis</a>
            <a href="seasonality.html" class="box">Seasonality Analysis</a>
        </div>
    </div>

</body>
</html>
