<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CogniQ Seasonality Analysis</title>
    <link href="/static/seasonality.css" rel="stylesheet">
</head>
<body>

    <div class="nav-buttons">
        <a href="/templates/indicators.html" class="nav-button" id="back-button">Back</a>
        <a href="/templates/home.html" class="nav-button" id="home-button">Home</a>
    </div>

    <div class="content">
        <h1 class="heading">Seasonality Analysis</h1>
        <p class="caption">Graph showing the indicator based on the analysis of ten year data</p>

        <div class="graph-container">
            <img src="C:/Users/Pankhuri/OneDrive/Desktop/Minor/demo2 a.png" alt="EMA Graph" id="graph">
        </div>
    </div>

</body>
</html>
