<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seasonality Analysis</title>
    <link href="/static/indicators.css" rel="stylesheet">
</head>
<body>

    <div class="nav-buttons">
        <a href="{{ url_for('markets') }}" class="nav-button" id="back-button">Back</a>
        <a href="{{ url_for('index') }}" class="nav-button" id="home-button">Home</a>
    </div>

    <div class="content">
        <h1 class="heading">Seasonality Analysis</h1>
        <p class="caption">Stock performance across different months</p>

        <div class="graph-container">
            <!-- Display the seasonality graph -->
            <img src="{{ img_path }}" alt="Seasonality Graph" class="graph">
        </div>
    </div>

</body>
</html>
